/* Reset CSS */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* MAIN CSS */
html{
  line-height: 1.5;
  font-family: Lexend,sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;

  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body{
  font-size: .938rem;
  font-weight: 350;
  line-height: 1.5;

  background-color: rgba(17,17,17);
  color: rgb(212 212 212);
  padding: 1rem 1.5rem;
}

h1 {
  font-size: 1.625rem;
  font-weight: 350;
  color: rgb(228 228 231);
}
h2{
  font-size: 1.3em;
}
p{
  font-size: inherit;
  font-weight: 400;
  line-height: 2;

  margin-bottom: 1.5rem;
}
a{
  color: inherit;
  text-decoration: underline;
}
ul{
  list-style: none; 
}

header{
  width: 100%;
}

nav{
  text-align:right;
  margin: 2rem auto;
  max-width: 600px;
}

nav a{
  text-decoration: none;
  padding: 1.5rem 1rem;
  color: rgb(115 115 115);
}
nav a:active, nav .active{
  color: rgb(229 229 229);
}
nav a:hover{
  color: rgb(228 228 231);
  text-decoration: none;
}

main{
  margin: 2rem auto;
  max-width: 600px;
}

main h1{
  margin-bottom: 2rem;
}
