
body{
  color : white ;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #141414;
  font-size: 17px ;
}

.fh{
  height: 100vh ;
}

.first{
  padding-top: 20vh ;
}

.second{
  padding-top: 20vh ;
}

ul{
  font-size: 50px ;
  list-style-type: none;
  margin: 0 ;
  padding: 0 ;
}
a{
  text-decoration: none ;
  color: white ;
}
li{

  display: block ;
  float: left;
  padding : 1vh ;
}

@media (max-device-width: 900px) {
  .display-3{
    font-size: 10rem ;
  }
  p{
    font-size: 2.5rem ;
  }
  h5{
    font-size: 2.5rem ;
  }
  a{
    font-size: 5rem ;
  }
  .first{
    padding-top: 0vh ;
  }
  .second{
    padding-top: 5vh ;
  }
}
