body{
    background-color: #151515;
    color : #f5f5f5 ;

    font-family: 'dincherregular', Arial, sans-serif;
    font-style:normal;
    font-size : 3rem ;
    line-height; 0.5 ;
}

/* Font Settings*/
h1{
    font-size : 10rem ;
    line-height: 0.7;
}
h2{
  font-size: 3rem ;
  line-height: 0.7;
}
h3{
  font-size : 2rem ;
  line-height: 0.7;
}
h5{
    font-size: 60px ;
    line-height: 0.7;
}
p{
  font-size : 2rem ;
  line-height:0.7;
}
.sub-title{
  font-size : 3rem ;
}


/* Custom things*/
::-webkit-scrollbar{
  width: 0px ;
  background: transparent ;
}
.pad-20vh{
  padding-top: 20vh ;
}
.pad-30vh{
  padding-top: 30vh ;
}
.pad-40vh{
  padding-top: 40vh ;
}
.right{

  width: 100% ;
  height: 100vh ;
  overflow-y: scroll;
}

/* CARD */
.card{
  border: none ;
}
.card img{
  height: 0px ;
  visibility: hidden ;
}

.card-body{
    background-color: #151515 ;
}
.card-body:hover{
  color : rgba(255,255,255,0.5) ;
}


ul{
  font-size: 50px ;
  list-style-type: none;
  margin: 0 ;
  padding: 0 ;
}
a{
  text-decoration: none ;
  color: white ;
}

.a-instagram:hover{
  color : #517fa4 ;
}
.a-twitter:hover{
  color : #55acee ;
}
.a-github:hover{
  color : #333 ;
}



@media (max-device-width: 900px) {

    body{
        font-size:8rem ;
        line-height:1 ;
    }
    h1{
        font-size:19rem ;
        line-height:1 ;
    }
    p{
        font-size:10rem ;
    }
    .sub-title{
      font-size: 5rem ;
    }
    li a{
        font-size: 7rem ;
    }

}
